doctype html
html
  head
    title= title
    // link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')

    script(href='/jquery/jquery.min.js')
    script(href='/popper/popper.min.js')
    script(href='/bootstrap/js/bootstrap.min.js')
  body
    block content
