<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>The Main Page of School</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- imported CCS -->
        <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/style.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/bootstrap/dist/css/bootstrap.min.css"/>
        <!-- imported js lib -->
        <script src="/jquery/jquery.min.js"></script>
        <script src="/popper/popper.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <!-- create a link to control the grade display or hide -->
            <div class="row">
                <button class="btn bg-gray btn-block mb-2" type="button" data-toggle="collapse" data-target=".grade1" aria-expanded="false">
                    一年级
                </button>
            </div>
            <div class="row collapse grade1 mb-2">
                <div class="card col-md-6 mb-1">
                    <div class="card-header">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#class1" aria-expanded="false">
                            一年级甲班
                        </button>
                    </div>
                    <div class="card-body collapse" id="class1">
                        <div class="btn btn-primary mb-1">彭治</div>
                        <div class="btn btn-primary mb-1">彭亦飞</div>
                        <div class="btn btn-primary mb-1">彭治</div>
                        <div class="btn btn-primary mb-1">彭亦飞</div>
                    </div>
                </div>
                <div class="card col-md-6">
                    <div class="card-header">
                        一年级甲班
                    </div>
                    <div class="card-body">
                        <div class="btn btn-primary">彭治</div>
                        <div class="btn btn-primary">彭亦飞</div>
                        <div class="btn btn-primary">彭治</div>
                        <div class="btn btn-primary">彭亦飞</div>
                    </div>
                </div>
                <div class="card col-md-6">
                    <div class="card-header">
                        一年级甲班
                    </div>
                    <div class="card-body">
                        <div class="btn btn-primary">彭治</div>
                        <div class="btn btn-primary">彭亦飞</div>
                        <div class="btn btn-primary">彭治</div>
                        <div class="btn btn-primary">彭亦飞</div>
                    </div>
                </div>
            </div>

            <!----------------------- 二年级 ------------------------------>
            <!-- create a link to control the grade display or hide -->
            <div class="row">
                    <button class="btn bg-gray btn-block mb-2" type="button" data-toggle="collapse" data-target=".grade2" aria-expanded="false">
                        二年级
                    </button>
                </div>
                <div class="row collapse grade2">
                    <div class="card col-md-6">
                        <div class="card-header">
                            一年级甲班
                        </div>
                        <div class="card-body">
                            <div class="btn btn-primary mb-1">彭治</div>
                            <div class="btn btn-primary mb-1">彭亦飞</div>
                            <div class="btn btn-primary mb-1">彭治</div>
                            <div class="btn btn-primary mb-1">彭亦飞</div>
                        </div>
                    </div>
                    <div class="card col-md-6">
                        <div class="card-header">
                            一年级甲班
                        </div>
                        <div class="card-body">
                            <div class="btn btn-primary">彭治</div>
                            <div class="btn btn-primary">彭亦飞</div>
                            <div class="btn btn-primary">彭治</div>
                            <div class="btn btn-primary">彭亦飞</div>
                        </div>
                    </div>
                    <div class="card col-md-6">
                        <div class="card-header">
                            一年级甲班
                        </div>
                        <div class="card-body">
                            <div class="btn btn-primary">彭治</div>
                            <div class="btn btn-primary">彭亦飞</div>
                            <div class="btn btn-primary">彭治</div>
                            <div class="btn btn-primary">彭亦飞</div>
                        </div>
                    </div>
                </div>
        </div>

        
    </body>
</html>