<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>The Main Page of School</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/style.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/bootstrap/dist/css/bootstrap.min.css"/>
        <script src="/jquery/jquery.min.js"></script>
        <script src="/popper/popper.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body>                  
        <header>
            
        </header>

        <main>
            <div class="container" style="margin-bottom:3rem!important">
                <div class="row">
                    <div class="card col-12 col-md-4">
                        <img src="images/wushu.jpg" class="card-img-top" style="width:10rem; height:10rem"/>
                        <div class="card-body">
                            <h5 class="card-title">This is a title</h5>
                            <p class="card-text">
                                this is content,ggtttttttttteeeeeeerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrlk
                            </p>
                            <a class="btn btn-primary">register</a>
                        </div>
                    </div>
                    <div class="card col-12 col-md-4">
                        <img src="images/wushu.jpg" class="card-img-top"/>
                        <div class="card-body">
                            <h5 class="card-title">This is a title</h5>
                            <p class="card-text">this is content</p>
                            <a class="btn btn-primary">register</a>
                        </div>
                    </div>
                    <div class="card col-12 col-md-4">
                        <img src="images/wushu.jpg" class="card-img-top"/>
                        <div class="card-body">
                            <h5 class="card-title">This is a title</h5>
                            <p class="card-text">this is content</p>
                            <a class="btn btn-primary">register</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="container bg-white fixed-bottom">
                    <div class="row justify-content-center">
                        <nav class="navbar">
                            <ul class="nav font-weight-bold text-success text-center">
                                <li class="nav-item col-3">
                                    <a href="#">
                                        <img src="images/main.png" height="50" width="50"/>
                                        <br>
                                        课程
                                    </a>
                                </li>
                                <li class="nav-item col-3">
                                    <a href="#">
                                        <img src="images/classes.png" height="50" width="50"/>
                                        <br>
                                        学员
                                    </a>
                                </li>
                                <li class="nav-item col-3">
                                    <a href="#">
                                        <img src="images/select.png" height="50" width="50"/>
                                        <br>
                                        查询
                                    </a>
                                </li>
                                <li class="nav-item col-3">
                                    <a href="#">
                                        <img src="images/list.png" height="50" width="50"/>
                                        <br>
                                        我
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
        </footer>

        <!--Script-->
        <script>
        
        </script>
    </body>
</html>