<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>学校课外注册小系统</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/style.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/bootstrap/dist/css/bootstrap.min.css"/>
        <script src="/jquery/jquery.min.js"></script>
        <script src="/popper/popper.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body>                  
        <header>
            <h4 class="text-center">课程一览</h4>
        </header>

        <main>
            <div class="container-fluid">
                <!-------------------------------- 星期一课程 ------------------------------------------>
                <!-- create a link to control the grade display or hide -->
                <div class="row">
                    <button class="btn bg-gray btn-block mb-2" type="button" data-toggle="collapse" data-target=".monday" aria-expanded="false">
                        星期一
                    </button>
                </div>
                <div class="row collapse monday mb-2">
                    <div class="card col-md-6 mb-1">
                        <div class="card-header">
                            数学思维社团1
                        </div>
                        <div class="card-body collapse">
                            以奥林匹克数学为基础学习。
                        </div>
                    </div>

                    <div class="card col-md-6 mb-1">
                        <div class="card-header">
                            数学思维社团2
                        </div>
                        <div class="card-body collapse">
                            以奥林匹克数学为基础学习。
                        </div>
                    </div>

                    <div class="card col-md-6 mb-1">
                        <div class="card-header">
                            数学思维社团3
                        </div>
                        <div class="card-body collapse">
                            以奥林匹克数学为基础学习。
                        </div>
                    </div>
                </div>
                <!-------------------------------- 星期二课程 ------------------------------------------>
                <!-- create a link to control the grade display or hide -->
                <div class="row">
                    <button class="btn bg-gray btn-block mb-2" type="button" data-toggle="collapse" data-target=".tuesday" aria-expanded="false">
                        星期二
                    </button>
                </div>
                <div class="row collapse tuesday mb-2">
                    <div class="card col-md-6 mb-1">
                        <div class="card-header">
                            数学思维社团1
                        </div>
                        <div class="card-body collapse">
                            以奥林匹克数学为基础学习。
                        </div>
                    </div>

                    <div class="card col-md-6 mb-1">
                        <div class="card-header">
                            数学思维社团2
                        </div>
                        <div class="card-body collapse">
                            以奥林匹克数学为基础学习。
                        </div>
                    </div>

                    <div class="card col-md-6 mb-1">
                        <div class="card-header">
                            数学思维社团3
                        </div>
                        <div class="card-body collapse">
                            以奥林匹克数学为基础学习。
                        </div>
                    </div>
                </div>

                <!-------------------------------- 星期三课程 ------------------------------------------>
                <!-- create a link to control the grade display or hide -->
                <div class="row">
                    <button class="btn bg-gray btn-block mb-2" type="button" data-toggle="collapse" data-target=".wendesday" aria-expanded="false">
                        星期三
                    </button>
                </div>
                <div class="row collapse wendesday mb-2">
                    <div class="card col-md-6 mb-1">
                        <div class="card-header">
                            数学思维社团1
                        </div>
                        <div class="card-body collapse">
                            以奥林匹克数学为基础学习。
                        </div>
                    </div>

                    <div class="card col-md-6 mb-1">
                        <div class="card-header">
                            数学思维社团2
                        </div>
                        <div class="card-body collapse">
                            以奥林匹克数学为基础学习。
                        </div>
                    </div>

                    <div class="card col-md-6 mb-1">
                        <div class="card-header">
                            数学思维社团3
                        </div>
                        <div class="card-body collapse">
                            以奥林匹克数学为基础学习。
                        </div>
                    </div>
                </div>

                <!-------------------------------- 星期四课程 ------------------------------------------>
                <!-- create a link to control the grade display or hide -->
                <div class="row">
                    <button class="btn bg-gray btn-block mb-2" type="button" data-toggle="collapse" data-target=".thursday" aria-expanded="false">
                        星期四
                    </button>
                </div>
                <div class="row collapse thursday mb-2">
                    <div class="card col-md-6 mb-1">
                        <div class="card-header">
                            数学思维社团1
                        </div>
                        <div class="card-body collapse">
                            以奥林匹克数学为基础学习。
                        </div>
                    </div>

                    <div class="card col-md-6 mb-1">
                        <div class="card-header">
                            数学思维社团2
                        </div>
                        <div class="card-body collapse">
                            以奥林匹克数学为基础学习。
                        </div>
                    </div>

                    <div class="card col-md-6 mb-1">
                        <div class="card-header">
                            数学思维社团3
                        </div>
                        <div class="card-body collapse">
                            以奥林匹克数学为基础学习。
                        </div>
                    </div>
                </div>

                <!-------------------------------- 星期五课程 ------------------------------------------>
                <!-- create a link to control the grade display or hide -->
                <div class="row">
                    <button class="btn bg-gray btn-block mb-2" type="button" data-toggle="collapse" data-target=".friday" aria-expanded="false">
                        星期五
                    </button>
                </div>
                <div class="row collapse friday mb-2">
                    <div class="card col-md-6 mb-1">
                        <div class="card-header">
                            数学思维社团1
                        </div>
                        <div class="card-body collapse">
                            以奥林匹克数学为基础学习。
                        </div>
                    </div>

                    <div class="card col-md-6 mb-1">
                        <div class="card-header">
                            数学思维社团2
                        </div>
                        <div class="card-body collapse">
                            以奥林匹克数学为基础学习。
                        </div>
                    </div>

                    <div class="card col-md-6 mb-1">
                        <div class="card-header">
                            数学思维社团3
                        </div>
                        <div class="card-body collapse">
                            以奥林匹克数学为基础学习。
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="container bg-white fixed-bottom mt-1">
                <div class="row">
                    <nav class="navbar">
                        <strong id="curUser" name="curUser" class="align-baseline mx-1">四年一班 彭亦飞飞</strong>
                        <ul class="nav font-weight-bold text-success text-center">
                            <li class="nav-item mx-1">
                                <a href="/register">
                                    <img src="images/main.png" height="30" width="30"/>
                                    <br>
                                    我要报名
                                </a>
                            </li>
                            <li class="nav-item mx-1">
                                <a href="#">
                                    <img src="images/classes.png" height="30" width="30"/>
                                    <br>
                                    我的报名
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>

        <!--Script-->
        <script>
        
        </script>
    </body>
</html>